<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title> ddoran1 and mmacdo29's info3103 final project</title>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>

	<body>
		<div id="app">
			<div id="app" class="container">
    		<div class="login-wrapper border border-light ">

					<div v-if='authenticated === false'>
        		<h1>WELCOME!</h1>
						<p>Sign in or sign up.</p>

        		<form style="max-width: 330px; padding: 15px; margin: 0 auto;" @submit.prevent="signInPost(username, password)">
							<h4>Sign In</h4>
            	<input id = "username" size="15" v-model="username" type="text" placeholder="username" class="form-control" required autofocus/><br/>
            	<input id = "password" size="15" v-model="password" type="password" placeholder="password" class="form-control" required/><br/>
            	<button id="loginButton" class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="signInPost(username.value, password.value)">Login</button>
						</form>
							<br/>
							<br/>


							<form style="max-width: 330px; padding: 15px; margin: 0 auto;" @submit.prevent="signInPost(userName, password, email)">
								<h4>Sign Up</h4>
								<input id = "newUser" size="15"  type="text" placeholder="username" class="form-control" required autofocus/><br/>
								<input id = "newpword" size="15" type="password" placeholder="password" class="form-control" required/><br/>
								<input id = "email" size="15" type="text" placeholder="email" class="form-control" required/><br/>
								<button id="signUpButton" class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="signUpPost(newUser.value, newpword.value, email.value)">Submit</button>
							</form>
					</div>

     			<div v-if='authenticated === true'>
						<form style="max-width: 330px; padding: 15px; margin: 0 auto;" @submit.prevent="signInDelete()">
       			<button id="logoutButton" class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="signInDelete()">Logout</button>

						<h1>Users:</h1></br>
						<p>Users works and this currently produces points like this: mmacdo29: nicdmacdonald@gmail.com. Not hyperlinked tho</p>
						<button id="getUsers" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="usersGet()">Get Users</button>
						<ul id="app">
								<li v-for="user in users">
										{{user.UserName + ":\t" + user.email}}<br>
										<button id="editUser" class="btn btn-lg btn-primary btn-block" type="button">For editing user(not an option yet in main.js)</button></br>
										<button id="deleteUser" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="userDelete()">Delete user</button>
								</li>
						</ul>



						<h1>Lists</h1></br>
						<p>Enter user id (to navigate): </p>
						<p>This should fetch the lists associated with the user id. This currently does not yet work,
							 for some reason the button is making a print preview page appear.
						 I think it's struggling too to build the url with the unique id</p>

						<input type="text" id="usID" placeholder="User ID"></input>
						<button id="listsGet" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="listsGet(usID.value)">Go!</button>

						<p>Add another list: </p></br>
						<input type="text" id="listName" placeholder="name of list"></input></br>
						<input type="text" id="listDesc" placeholder="list description"></input></br>
						<button id="listsPost" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="listsPost()">Post List</button>

						<div id="app">
							<ul id="app">
								<li v-for="list in users">
										{{list}}</br>
										<input type="text" id="listNewName" placeholder="leave empty if you don't want to change name"></input></br>
										<input type="text" id="listNewDesc" placeholder="leave empty if you don't want to change description"></input></br>
										<button id="listPut" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="listPut()">Edit list</button></br>
										<button id="deleteList" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="listDelete()">Delete list</button>
									</br>
								</li>
							</ul>
						</div>

						<h1>Specific List:</h1></br>
						<p>Currently returning a 404 not found when I enter 1 (mmacdo29) and 1(which belongs to User 1)</p>
						<input type="text" id="useridagain" placeholder="User ID"></input>
						<input type="text" id="liID" placeholder="List ID"></input>
						<button id="listGet" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="listGet(liID.value)">Go!</button>

						<p>Add a task?</p></br>
						<input type="text" id="taskName" placeholder="New task's name"></input></br>
						<input type="text" id="taskListID" placeholder="What list# does it belong to?"></input></br>
						<input type="text" id="taskUserID" placeholder="What User ID does it belong to?"></input></br>
						<button id="postTask" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="tasksPost()">Add Task</button></br>

						<div id="app">
							<ul id="app">
								<li v-for="task in users">
										<input type="checkbox" id="taskDone" v-on:click="taskPut()"></input> {{task}}</br>
										<input type="text" id="taskPutTitle" placeholder="Leave empty if you don't want to change task name"></input></br>
										<button id="taskPut" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="taskPut()">Edit task</button>
										<button id="taskDel" class="btn btn-lg btn-primary btn-block" type="button" v-on:click="taskDelete()">Delete task</button></br>
								</li>
							</ul>
						</div>

      		</div>

						</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/static/main.js"></script>
	</body>
</html>
